<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="icon" type="image/png" href="/static/img/icon.png">
<link href="/static/css/style_arbor.css" rel="stylesheet" type="text/css" />
<style>
 #splash { margin-left: 10px; }
</style>
</head>

<body>
	<div id="splash">
		<div id="logoheader">
        	<img src="static/img/logo.png" />
        </div>

		<div id="header-vote">
        	À propos
        </div>
        
        <div id="sousheader-vote">
        	Donnons un nom aux arbres Nantais !
        </div>
		
        
<div id="apropos">
        	<p>
            Avec Arbor, le patrimoine arboré nantais pourra désormais se targuer d'arborer un nom. 
            <br />
            Arbor vous propose de voter et donner le prénom d'un petit Nantais aux arbres remarquables de Nantes. Tous les prénoms ont été extraits des <a href="http://data.nantes.fr/donnees/detail/liste-des-prenoms-des-enfants-nes-a-nantes-entre-2001-et-2012/">données ouvertes portant sur les nouveaux-nés sur Nantes au cours de l'année 2012</a>.
            </p>
            <p>

Les arbres font partie intégrante de notre voisinage et sont souvent les témoins muets de nos histoires de vie.
<br/>
Arbor se veut une manière originale et presque poétique de rendre un hommage à ces arbres qui font de Nantes une ville verte hier et une capitale verte aujourd'hui. 
<br />
C'est aussi le premier pas vers une cartographie sensible de Nantes qui explore le rapport des habitants à la nature environnante.

            </p>
            
            <p>
            	Arbor a été réalisé en 48 heures au cours du Hackhaton organisé par <a href="http://twitter.com/#!/LiberTIC">l'association Libertic</a> à l'occasion de la <a href="http://wiki.opendataday.org/Nantes2013">journée internationale de l'Open Data</a>.
                <br/>
                Derrière Arbor se cachent <a href="http://twitter.com/Kastien">Bastien Kerspern</a> à la conception et <a href="http://twitter.com/pabluk">Pablo Seminario</a> au développement technique. 
            	
            </p>
        
        </div>
	</div>
</body>
</html>
