<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="icon" type="image/png" href="/static/img/icon.png">
<link href="/static/css/style_arbor.css" rel="stylesheet" type="text/css" />
<style>
 #splash { margin-left: 10px; }
</style>
</head>

<body>
	<div id="splash">
		<div id="logoheader">
        	<img src="static/img/logo.png" />
        </div>

		<div id="header-vote">
        	À l'aide</div>
        
        <div id="sousheader-vote">
        	On vous file un coup de pouce !
        </div>
		
        
<div id="apropos">
        	<p>
            Arbor vous propose de donner le prénom d'un petit Nantais aux arbres remarquables de Nantes.
            </p>
            
            <p>
           	Pour voter pour le prénom à donner à un arbre, rien de plus simple.
            <br/>
            Sélectionnez l'arbre remarquable de votre choix en cliquant sur un des icônes de la carte.
            Son profil va alor s'afficher avec le prénom ayant pour le moment obtenu le plus plébiscité.
            </p>
            <p>
			Cliquez ensuite sur le bouton "Voter pour le prénom" afin de donner votre voix pour tel ou tel nom. Vous pourrez choisir parmi trois propositions et porter celle qui vous tient le plus à coeur.
            </p>
            <p>
            Cliquez sur le prénom choisi et c'est enregistré ! Vous pouvez bien entendu voter pour nommer d'autres arbres remarquables de Nantes.
			</p>
        
        </div>
	</div>
</body>
</html>
