<!DOCTYPE html>
<html>
  <head>
    <title>Arbor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <link href="/static/css/style_arbor.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpYmtR2LnFyUy5WXmvGCSvQ9YpjZHzDVg&sensor=false"></script>
    <script src="/static/js/infobox.js"></script>
    <script type="text/javascript">
      var lastMarker;
      var lastInfowindow;
      var map;

      var boxText = document.createElement('div');
      boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px;";

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(47.22, -1.55),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        {% for tree in trees %}
        /*
        var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
            content: "{{ tree.common_name }}",
            maxWidth: 380,
        });
        */
        var infoBoxOptions = {
            content: boxText,
            //maxWidth: 0,
            //pixelOffset: new google.maps.Size(-140, 0),
            //zIndex: null,
            boxStyle: { 
                  background: "url('/static/img/bg.png') no-repeat",
                  //opacity: 0.75,
                  width: "390px",
            },
            //closeBoxMargin: "2px 2px 2px 2px",
            closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
            //infoBoxClearance: new google.maps.Size(1, 1),
            isHidden: false,
            //pane: "floatPane",
            //enableEventPropagation: false,
        }
        var infobox{{ forloop.counter }} = new InfoBox(infoBoxOptions);

        var marker{{ forloop.counter }} = new google.maps.Marker({
            position: new google.maps.LatLng({{ tree.latitude}}, {{ tree.longitude }}),
            map: map,
            icon: "/static/img/marqueur.png",
        });

        google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function() {
            infobox{{ forloop.counter }}.close();
            load_content(marker{{ forloop.counter }}, infobox{{ forloop.counter }}, {{ tree.id }});
            lastMarker = marker{{ forloop.counter }};
            lastInfowindow = infobox{{ forloop.counter }};
        });
        {% endfor %}
      }

     function load_content(marker, infowindow, id) {
        $.ajax({
            url: '/tree/' + id + '/',
            success: function(data){
                infowindow.setContent(data);
                infowindow.open(map, marker);
            },
        });
     }

     function load_content_vote(infowindow, id) {
        $.ajax({
            url: '/tree/' + id + '/vote/',
            success: function(data){
                infowindow.setContent(data);
            },
        });
     }

     function load_content_results(infowindow, tree_id, name_id) {
        $.ajax({
            url: '/tree/' + tree_id + '/vote/' + name_id + '/',
            success: function(data){
                infowindow.setContent(data);
            },
        });
     }

    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <div id="footer">
        <div id="footer-top">
        </div>
        <div id="about">
            <a href="#"></a>
        </div>
        <div id="aide">
            <a href="#"></a>
        </div>
    </div>
  </body>
</html>
