<!DOCTYPE html>
<html>
  <head>
    <title>Arbor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <link href="/static/css/style_arbor.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/colorbox.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpYmtR2LnFyUy5WXmvGCSvQ9YpjZHzDVg&sensor=false"></script>
    <script type="text/javascript">
      var lastMarker;
      var lastInfowindow;
      var map;

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(47.22, -1.55),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        {% for tree in trees %}
        var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
            content: "{{ tree.common_name }}",
            maxWidth: 380,
        });
        var marker{{ forloop.counter }} = new google.maps.Marker({
            position: new google.maps.LatLng({{ tree.latitude}}, {{ tree.longitude }}),
            map: map,
            icon: "/static/img/marqueur.png",
        });

        google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function() {
            if (lastInfowindow) {
                lastInfowindow.close();
            }
            infowindow{{ forloop.counter }}.close();
            load_content(marker{{ forloop.counter }}, infowindow{{ forloop.counter }}, {{ tree.id }});
            lastMarker = marker{{ forloop.counter }};
            lastInfowindow = infowindow{{ forloop.counter }};
        });
        {% endfor %}
      }

     function load_content(marker, infowindow, id) {
        $.ajax({
            url: '/tree/' + id + '/',
            success: function(data){
                infowindow.setContent(data);
                infowindow.open(map, marker);
            },
        });
     }

     function load_content_vote(infowindow, id) {
        $.ajax({
            url: '/tree/' + id + '/vote/',
            success: function(data){
                infowindow.setContent(data);
            },
        });
     }

     function load_content_results(infowindow, tree_id, name_id) {
        $.ajax({
            url: '/tree/' + tree_id + '/vote/' + name_id + '/',
            success: function(data){
                infowindow.setContent(data);
            },
        });
     }
    {% if show_splash %}
        $(document).ready(function() {
            $.colorbox({html:'<img src="/static/img/splash.png">', innerWidth:400, innerHeight:410,});
        });
    {% endif %}
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <div id="footer">
        <div id="footer-top">
        </div>
        <div id="about">
            <a class="popup" href="/apropos/"></a>
        </div>
        <div id="aide">
            <a class="popup" href="/aide/"></a>
        </div>
    </div>
    <script>
        $('a.popup').colorbox({ opacity:0.45, innerWidth:"620px", });
    </script>
  </body>
</html>
