    <div id="pop">
        <div id="header-nom">
            <div id="nom-arbre">
                {{ tree.current_name }}
            </div>
        </div>

        <div id="img-arbre" {% if tree.photo %}style="background-image:url('{{ tree.photo.url }}'); background-position: center; background-repeat:no-repeat;"{% endif %}>
        </div>

        <div id="id-arbre">
           {{ tree.common_name }}
        </div>

        <div id="sousid-arbre">
            {{ tree.binomial_name }}
        </div>

        <div id="adresse-arbre">
            <div id="marq">
            </div>

            <div id="adresse">
                {{ tree.address }}
            </div>
        </div>

        <div class="clear">
        </div>

        {% if allow_vote %}
        <div id="btn-vote">
            <a href="javascript:load_content_vote(lastInfowindow, {{ tree.id }});"></a>
        </div>
        {% endif %}
    </div>
